@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Grotesk&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-background: #25282e;
  --color-header-background: #fff;
  --color-header-text: #000;
  --color-card-text-primary: #f5f5f5;
  --color-card-text-secondary: #ff9800;
  --color-card-background: #3c3e43;
  --font-primary: 'Montserrat', sans-serif;
  --font-card: 'Space Grotesk', sans-serif;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
